@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-itim {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
